# Ignore python virtual environments at any level
**/.colab_env/
**/.venv/
.venv/
.colab_env/
.venv_3.12

# Ignore Python runtime cache files
**/__pycache__/
**/*.pyc

# Ignore system configuration files
.DS_Store
Thumbs.db
.vscode/settings.json

#Ignore the binary files of model
*.joblib
